#App {
  height: auto;
  min-height: 100vh;
  display: flex;
}

#main {
  align-content: center;
  align-items: center;
  background: #f5f5f5;
  height: 100%;
  padding: 0px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
}

.sd {
  max-width: 100%;
  z-index: 0;
  pointer-events: all;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex: none;
}

.sd.text {
  color: #000000;
  font-family: "Courier";
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: visible;
  word-break: break-word;
  word-wrap: anywhere;
}

.column-header.border {
  border-bottom: 2px solid #000;
  flex: none;
  font-size: 18px;
  font-weight: 700;
  height: auto;
  line-height: 1.4;
  padding: 0px 0px 20px 0px;
  text-align: left;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
}

.row {
  flex-direction: row;
}
